name: MLflow Training Pipeline (Artifacts to Repo)

permissions:
  contents: write
  
on:
  push:
    branches: [ main ]
    paths:
      - "MLProject/**"
      - ".github/workflows/mlflow-train.yml"
  workflow_dispatch:

jobs:
  train-and-push-artifacts:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout main branch
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow scikit-learn pandas numpy matplotlib seaborn dagshub

    - name: Run MLflow Project (no conda)
      working-directory: MLProject
      env:
        MLFLOW_TRACKING_URI: file:./mlruns
      run: |
        mlflow run . --env-manager=local

    # -----------------------------
    # PUSH ARTIFACT KE BRANCH KHUSUS
    # -----------------------------
    - name: Push MLflow artifacts to repo
      run: |
        git config user.name "josephgreffenkomala"
        git config user.email "josephgreffenkomala@mail.ugm.ac.id"

        # Buat / checkout branch artifact
        git checkout -B mlflow-artifacts

        # Copy hasil training
        mkdir -p MLProject/mlruns
        git add MLProject/mlruns MLProject/run_id.txt

        git commit -m "MLflow artifacts from CI run $GITHUB_RUN_ID" || echo "No changes to commit"

        git push origin mlflow-artifacts --force
